body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin-bottom: 4px;
}

#winFirefoxPlugin {
  height: 0px;
  max-height: 0px;
  display: inline;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  /* text-align: center; */
  flex: 0 0 40px;
}

footer {
  background-color: #333;
  color: antiquewhite;
  text-align: center;
  padding: 5px;
  flex: 0 0 20px;
}

footer a {
  color: antiquewhite;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex: 1;
  /* Take remaining space */
  overflow: hidden;
}

main {
  /* flex: 1; */
  /* Main content takes most of the space */
  padding: 10px;
  background-color: #f4f4f4;
}


/* To show the optional area, remove the display: none; rule below */
aside {
  /* flex: 0 0 250px; */
  /* Optional right-side area with fixed width */
  background-color: #ddd;
  padding: 5px;
  /* display: none; */
  /* Hidden by default */
}

.gutter {
  background-color: #767676;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}