body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
  flex: 0 0 60px;
  /* Fixed height */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  flex: 0 0 40px;
  /* Fixed height */
  color: antiquewhite;
}

footer a {
  color: antiquewhite;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex: 1;
  /* Take remaining space */
  overflow: hidden;
}

main {
  flex: 1;
  /* Main content takes most of the space */
  padding: 20px;
  background-color: #f4f4f4;
}


/* To show the optional area, remove the display: none; rule below */
aside {
  flex: 0 0 250px;
  /* Optional right-side area with fixed width */
  background-color: #ddd;
  padding: 20px;
  /* display: none; */
  /* Hidden by default */
}

#tree {}