:root {
  --wdx-text-color: #222;
  --wdx-bg-color: #F7FAFC;
  --wdx-bg-color-content: #F7FAFC;

  --wdx-header-bg-color: #4A5568;
  /* --wdx-header-bg-color: #2563eb; */
  --wdx-header-bg-color-active: color-mix(in srgb, var(--wdx-header-bg-color) 80%, white 30%);
  --wdx-header-text-color: #FFFEF7;
  --wdx-header-text-color-active: #F7FAFC;
  --wdx-header-text-color-disabled: #ccc;

  --wdx-statbar-bg-color: var(--wdx-header-bg-color);
  --wdx-statbar-bg-color-active: var(--wdx-header-bg-color-active);
  --wdx-statbar-text-color: var(--wdx-header-text-color);
  --wdx-statbar-text-color-active: var(--wdx-header-text-color-active);
  --wdx-statbar-text-color-disabled: var(--wdx-header-text-color-disabled);
}

body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', Arial, sans-serif;
  background: var(--wdx-bg-color);
  color: var(--wdx-text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin-bottom: 4px;
}


/* --- Basic Layout --- */

header {
  background-color: var(--wdx-header-bg-color);
  color: var(--wdx-header-text-color);
  padding: 5px;
  /* text-align: center; */
  flex: 0 0 40px;
  /* flex: 0 0 48px; */
  box-shadow: 0 2px 8px rgba(37, 99, 235, 0.08);
  /* display: flex; */
  /* align-items: center; */
  font-size: 90%;
}

header h1 img.logo {
  box-shadow: 0 2px 8px rgba(37, 99, 235, 0.08);
  border-radius: 2px;
  border: #333 1px solid;
}

header h1 small {
  font-size: 50%;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  /* Space between left and right sections */
  align-items: center;
  /* Vertically align items */
  /* padding: 5px; */
}

.header-bar-left {
  text-align: left;
  margin-left: 5px;
}

.header-bar-right {
  position: relative;
  text-align: right;
  /* Align text to the right */
  margin-right: 10px;
  /* Optional: Add spacing from the right edge */
}

footer {
  background-color: var(--wdx-statbar-bg-color);
  color: var(--wdx-statbar-text-color);
  text-align: center;
  padding: 5px;
  flex: 0 0 20px;
}

footer a,
footer a:active,
footer a:hover {
  color: var(--wdx-header-text-color-active);
  text-decoration: none;
}

p.trailer {
  font-size: smaller;
}

.main-container {
  display: flex;
  flex: 1;
  /* Take remaining space */
  overflow: hidden;
}

main {
  /* flex: 1; */
  /* Main content takes most of the space */
  padding: 10px;
  background-color: var(--wdx-bg-color);
}

/* To show the optional area, remove the display: none; rule below */
aside {
  /* flex: 0 0 250px; */
  /* Optional right-side area with fixed width */
  background-color: var(--wdx-bg-color);
  padding: 5px;
  /* display: none; */
  /* Hidden by default */
}

/* --- Splitter --- */

.gutter {
  background-color: #767676;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

/* --- Wunderbaum --- */
div.wunderbaum:focus-visible {
  /* Suppress system focus outline. */
  outline-style: none;
}

/* --- Preview Pane --- */

.hidden {
  display: none;
}

div#preview {
  position: relative;
  text-align: center;
  margin: 4px;
  overflow: auto;
  max-height: calc(100% - 10px);
  height: calc(100% - 10px);
}

div#preview>img,
div#preview>div.preview-unknown,
div#preview>pre {
  max-width: 100%;
  background-color: var(--wdx-bg-color-content);
  border-radius: 4px;
  border: 2px solid gray;
}

div#preview>div#preview-unknown {
  color: gray;
}

div#preview>pre {
  overflow: auto;
  text-align: left;
  font-size: 70%;
  padding: 10px;
}

/* --- Dropzone --- */

.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropzone.dragover {
  background-color: #e9f5ff;
}

/* --- Command Palette --- */

span.command-palette {
  display: none;
}

.wb-row:hover span.command-palette,
.wb-row.wb-active span.command-palette {
  display: unset;
}

.wb-button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1px 3px;
}

.wb-button.disabled {
  color: var(--wdx-header-text-color-disabled);
}

.wb-button.wb-button-toggle.wb-pressed {
  color: var(--wdx-header-text-color-active);
  border-color: var(--wdx-header-text-color-active);
  background-color: var(--wdx-header-bg-color-active);
}

.wb-button:not(.disabled):hover {
  color: var(--wdx-header-text-color-active);
  border-color: var(--wdx-header-text-color-active);
  cursor: pointer;
}

.wb-button.alert:not(.disabled):hover {
  color: red;
}

/* --- Notification toast --- */

.notification {
  display: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  position: fixed;
  z-index: 1000;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notification.info {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
}

.notification.warning {
  background-color: var(--wdx-bg-color-content);
  color: #856404;
  border: 1px solid #ffeeba;
}

.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}