.cache
.coverage
.eggs
.idea
.tox
build/
doc/sphinx/_build/
doc/sphinx/_generated/
doc/sphinx-build/
htmlcov/
*.pyc
*.confc
*.egg-info
*.egg
child.log
debug.log
wsgidav.conf
dist

*.prefs
*.project
*.pydevproject
npm-debug.log
