.DS_Store
.cache
.coverage
.eggs
.idea
.tox
.vscode
.pytest_cache/
build/
docs/source/_autosummary/
docs/build/
docs/sphinx/_generated/
docs/sphinx/_autosummary/
docs/sphinx-build/
htmlcov/
*.pyc
*.confc
*.egg-info
*.egg
child.log
debug.log
wsgidav.conf
wsgidav.json
dist
dist.yabs/
coverage.xml
.coverage*

*.prefs
*.project
*.pydevproject
npm-debug.log
pip-wheel-metadata/
wsgidav.yaml
wsgidav*.yaml
wsgidav-props.shelve.dat
wsgidav-props.shelve.dir
manifests/
