.cache
.coverage
.eggs
.idea
.tox
.vscode
.pytest_cache/
build/
_build/
doc/sphinx/_autosummary/
doc/sphinx/_build/
doc/sphinx/_generated/
doc/sphinx-build/
htmlcov/
*.pyc
*.confc
*.egg-info
*.egg
child.log
debug.log
wsgidav.conf
wsgidav.json
dist
coverage.xml
.coverage*

*.prefs
*.project
*.pydevproject
npm-debug.log
pip-wheel-metadata/
wsgidav.yaml
wsgidav_2x.yaml
