sudo: false
language: python

matrix:
    include:
        - python: "2.7"
          env: TOXENV=lint-py27
        - python: "3.6"
          env: TOXENV=black-check,lint-py36
        - python: "2.7"
          env: TOXENV=py27
        - python: "3.4"
          env: TOXENV=py34
        - python: "3.5"
          env: TOXENV=py35
        - python: "3.6"
          env: TOXENV=py36
        - python: "3.7"
          env: TOXENV=py37
          dist: xenial
        - python: "3.7-dev"
          env: TOXENV=py37
        - python: "3.8-dev"
          env: TOXENV=py38
    allow_failures:
        - python: "3.7-dev"
          env: TOXENV=py37
        - python: "3.8-dev"
          env: TOXENV=py38

before_install:
    # See issue #80: litmus fails to build on travis
    # The branch 'travis-litmus' still has this enabled to investigate...
#    - sudo apt-get install libneon27-dev
#    - ./install_litmus.sh

install:
    - travis_retry pip install -U pip setuptools
    - travis_retry pip install -U tox coveralls coverage

script:
    - travis_retry tox

after_success:
    - coverage combine
    - coveralls
