[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "18.6b4"
Cheroot = "~=6.5"
flake8 = "~=3.5"
flake8-bugbear = "~=18.2"
flake8-quotes = "~=1.0"
isort = "*"
Paste = "~=2.0"
pylint = "*"
pytest = "~=2.7"
pytest-cov = "~=1.8"
python-pam = "~=1.8"
recommonmark = "*"
requests = "*"
rope = "*"
setuptools = "~=40.2"
# setuptools = "~=38.6"
Sphinx = "~=1.6"
sphinx_rtd_theme = "*"
tox = "~=3.2"
twine = "~=1.11"
WebTest = "~=2.0"
wheel = "*"

[packages]
defusedxml = "~=0.5"
Jinja2 = "~=2.10"
jsmin = "~=2.2"
PyYAML = "~=5.1"
six = "~=1.12"

[requires]
#python_version = "3.6"

[pipenv]
allow_prereleases = true
