[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "~=22.12"
Cheroot = "*"  # "~=8.5"
cx_Freeze = {version = "*", os_name = "== 'nt'"}
flake8 = "~=6.0"
flake8-bugbear = "~=23.1"
flake8-quotes = "~=3.3.2"
isort = "*"
mypy = "*"
Paste = "*"  # "~=2.0"
pylint = "*"
pytest = "*"  # "~=7.3"
pytest-cov = "*"  # "~=4.0"
pytest-html = "*"
python-pam = "*"  # "~=1.8"
pywin32 = {version = "*", os_name = "== 'nt'"}
recommonmark = "*"
requests = "*"
rope = "*"
setuptools = "*"
# Sphinx = "*"
# sphinx_rtd_theme = "*"
stressor = "*"
tox = "*"  # "~=3.13"
twine = "*"
WebTest = "*"  # "~=2.0"
wheel = "*"
# wsgidav = {editable = true, path = "."}
safety = "*"
yabs = "*"

[packages]
defusedxml = "*"  # "~=0.5"
Jinja2 = "*"  # "~=2.10"
PyYAML = "*"  # "~=5.1"
json5 = "*"
wsgidav = {editable = true, path = "."}

[requires]
python_version = "3.11"

[pipenv]
# allow_prereleases = true
