[tool.black]
line-length = 88
target-version = ['py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.tox
  | \.venv
  | \.eggs
  | \.cache
  | build
  | __pycache__
  | dist
  | \.*

)/
'''

[tool.isort]
# See https://black.readthedocs.io/en/stable/compatible_configs.html
profile = "black"
src_paths = ["wsgidav", "tests"]


[tool.ruff]
# Decrease the maximum line length to 79 characters.
# line-length = 79
# Support Python 3.10+.
target-version = "py38"
src = ["wsgidav", "tests"]

[tool.ruff.lint.isort]
known-first-party = ["wsgidav", "tests"]

[tool.ruff.lint]
select = [
  "B",  # bugbear
  "E",  # pycodestyle
  "F",  # pyflakes
  "G",  # flake8-logging-format
  "UP", # pyupgrade
  "T",  # print, ...
  # "D",   # pydocstyle
  "I", # isort
  # "C",  # codespell
  # "SIM",  # 
]
ignore = [
  # We need the old syntax for python <= 3.9
  "UP006", # Use `list` instead of `List` for type annotations (since Py39)
  "UP007", # Use `X | Y` for type annotations (since Py310)
  "E721",  #  Do not compare types, use `isinstance()`
  "E501",  # Line too long
  "G001",  # Logging statement uses str.format
  "G002",  # Logging statement uses % formatting
  "G004",  # Logging format string does not contain any variables
  "T201",  # `print()` statement found
  "T203",  # `pprint()` statement found
  "UP031", # Use format specifiers instead of percent format
]

# [tool.ruff.pydocstyle]
# convention = "google"

[tool.codespell]
skip = '.git,*.pdf,*.svg,*.lock,*.css,logs'
check-hidden = true
# ignore-regex = ''
# ignore-words-list = ''
