[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.tox
  | \.venv
  | \.eggs
  | \.cache
  | build
  | __pycache__
  | dist
  | \.*

)/
'''

[tool.isort]
# See https://black.readthedocs.io/en/stable/compatible_configs.html
profile = "black"
src_paths = ["wsgidav", "tests"]


[tool.ruff]
# Decrease the maximum line length to 79 characters.
# line-length = 79
# Support Python 3.10+.
target-version = "py38"
src = ["wsgidav", "tests"]
select = [
  "E",  # pycodestyle
  "F",  # pyflakes
  "G",  # flake8-logging-format
  "UP", # pyupgrade
  "T",  # print, ...
  # "D",   # pydocstyle
]
ignore = [
  # We need the old syntax for python <= 3.9
  "UP006", # Use `list` instead of `List` for type annotations (since Py39)
  "UP007", # Use `X | Y` for type annotations (since Py310)
  "E721",  #  Do not compare types, use `isinstance()`
]

# [tool.ruff.pydocstyle]
# convention = "google"

[tool.codespell]
skip = '.git,*.pdf,*.svg,*.lock,*.css,logs'
check-hidden = true
# ignore-regex = ''
# ignore-words-list = ''
