# NOTE: Keep in sync with Pipfile!

-r requirements.txt

cheroot~=6.2
cx_Freeze
Paste~=2.0
flake8~=3.5
flake8-quotes~=1.0
pytest~=2.7
pytest-cov~=1.8
recommonmark
requests
setuptools~=38.6
sphinx_rtd_theme
sphinx~=1.6
tox~=2.0
twine~=1.11
WebTest~=2.0
wheel
