# NOTE: Keep in sync with Pipfile!

-r requirements.txt

cheroot~=8.5
Paste~=2.0
# Black is beta and therefore requires --pre flag for installation unless we give the exact number
black~=22.1
flake8~=3.8
flake8-bugbear~=20.1
flake8-quotes~=1.0
pytest~=2.7
pytest-cov~=1.8
recommonmark
requests
setuptools~=40.2
sphinx~=4.3
sphinx_rtd_theme~=1.0.0
stressor
tox~=3.13
twine~=1.11
WebTest~=2.0
wheel
yabs>=0.5
